.mainQRcodeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap);
}

.actionBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap) 0;
}

.mainLikedUserContainer {
  display: flex;
  flex-direction: row;
  justify-content: justify-content;
  flex-wrap: wrap;
  gap: var(--gap);
}

.searchContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.scanContainer {
  margin: 50px auto;
  text-align: center;
  width: 80%;
}

.LikedUser {
  padding: var(--gap);
  border-radius: var(--border-radius);
  border: 3px solid var(--lightwhite);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--gap);
  border: 2px solid var(--lightwhite);
  border-radius: var(--border-radius);
  background: var(--lightwhite);
}

.userNavs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: var(--gap) 0;

  a {
    width: 100%;
    border-radius: var(--border-radius);
    padding: var(--gap);
    background: var(--lightgray);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: var(--lightwhite);
    }
  }
}

.card {
  width: 200px;
  height: 300px;

  .image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: var(--border-radius);
  }
}

@media (max-width: 900px) {
  .card {
    width: 250px;
    height: 350px;

    .image {
      height: 250px;
      width: 250px;
    }
  }
}
