@import "../../assets/main.scss";

.biggie-button {
  background: $darkmaincolor;
  color: white;
  display: block;
  border: none;
  width: auto;
  height: 100px;
  padding: 3% 5%;
  cursor: pointer;
  margin: 30% auto;

  &:hover {
    background: $white;
    color: $darkmaincolor;
    box-shadow: 0px 0px 5px 0px $darkmaincolor;
  }
}
