@import "../../assets/main.scss";

.biggieButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  border: none;
  color: $darkmaincolor;
  background: $white;
  border-radius: 5px;
  cursor: pointer;
  padding: 1% 5%;
  margin: 20% auto 5% auto;
  border: 1.5px solid $darkmaincolor;

  &:hover {
    background: $white;
    color: $darkmaincolor;
    box-shadow: 0px 0px 5px 0px $darkmaincolor;
  }
}
