@import "../../assets/main.scss";

.place {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: $white;
  margin: 3% auto;
  padding: 2% 3%;
  text-decoration: none;
  border-radius: 15px;

  svg{
    color: $good;
  }

  p {
    color: $black;
    margin-left: 3%;
  }
}
