.main {
  margin-top: var(--gap);
  background: var(--lightwhite);
  border-radius: var(--border-radius);
}

.mainGride {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: start;
  gap: var(--gap);
  min-height: clamp(50vh, 70%, 100vh);

  .left {
    width: 30%;
    padding: var(--gap);
  }

  .right {
    background: var(--white);
    width: 75%;
    padding: var(--gap);
    border-radius: var(--border-radius);
  }
}

@media (max-width: 900px) {
  .main {
    width: 96%;
  }

  .mainGride {
    flex-direction: column-reverse;
    .left {
      width: 100%;
    }
    .right {
      width: 100%;
    }
  }
}
