.price {
  display: flex;
  align-items: center;
  justify-content: center;
  .priceContainer {
    padding: var(--gap);
    gap: var(--gap);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    .priceCard {
      height: 500px;
      width: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: var(--gap);
      background: repeating-linear-gradient(
        -45deg,
        rgba(245, 245, 245, 0.3),
        white 100px,
        whitesmoke 100px
      );
      border-width: 2px;
      border-style: solid;
      animation: infinite borderAnimation 5s ease-in;
    }
  }
}

@media (max-width: 900px) {
  .price {
    .priceContainer {
      flex-direction: column;
      gap: var(--gap);
      width: 100%;
      .priceCard {
        width: 100%;
      }
    }
  }
}

@keyframes borderAnimation {
  0% {
    border-image: linear-gradient(to right, whitesmoke, darkblue, #218be6) 2;
  }
  50% {
    border-image: linear-gradient(to right, #218be6, whitesmoke, darkblue) 2;
  }
  70% {
    border-image: linear-gradient(to right, darkblue, #218be6, whitesmoke) 2;
  }
  100% {
    border-image: linear-gradient(to right, whitesmoke, #218be6, darkblue) 2;
  }
}
