.contact {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: var(--gap);

  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    padding: 10px;
    background: whitesmoke;
    color: black;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: var(--maincolor);
      color: var(--white);
    }
  }
}

@media (max-width: 900px) {
  .contact {
    flex-direction: column;
    li {
      width: 100%;
    }
  }
}
