.container {
  border-radius: 5px;
  background: radial-gradient(
      circle,
      transparent 20%,
      white 20%,
      white 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        white 20%,
        white 80%,
        transparent 80%,
        transparent
      )
      50px 50px,
    linear-gradient(#a8b1bb29 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, #a8b1bb21 8px, transparent 8px) -4px 0;

  background-size: 10px 10px, 100px 100px, 50px 50px, 50px 50px;
}

.title {
  width: 60%;
  font-size: 60px;
  font-weight: 600;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: GradientAnimation 10s ease infinite;

  @media (max-width: 900px) {
    width: 100%;
    font-size: 34px;
  }
}

.description {
  max-width: 600px;
}

.card {
  border: 1px solid var(--lightwhite);
}

.cardTitle {
  &::after {
    content: "";
    display: block;
    background-color: var(--white);
    width: 45px;
    height: 2px;
    margin-top: var(--gap);
  }
}

@keyframes GradientAnimation {
  0% {
    background: linear-gradient(to right, #218be6 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(to right, #218be6 25%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
